# node.js
node_modules/
package-lock.json
package.json


# Logs
logs/

# Temporary files
tmp/
*.tmp

# IDE specific files
.idea/
.vscode/


# Env files 
# Ignore all .env files everywhere
**/.env
  

CLAUDE.md

git rebase --onto <commit-before-bug> <buggy-commit> main
